body {
  font-family: 'Arial';
  background-color: #0c0d0ffa;
}

.container {
  width: 45vw;
  display: flex;
  flex-direction: row;
}

.calculadora {
  width: 23rem;
  background-color: #0c0d0f;
  color: white;
  font-size: 15pt;
  transform: translateY(15%);
  border-radius: 10px;
}

.calculadora>div {
  user-select: none;
}

#visor,
#visor-memoria,
#visor-valor-memoria {
  border: 0px;
  color: white;
  background-color: #22417e18;
  cursor: text;
  border-radius: 5px;
  border: 1px solid rgb(139, 133, 133);
}

#visor {
  width: 100%;
  height: 6vh;
  font-size: 25pt;
  text-align: right;
}

.valores-memoria {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#visor-memoria {
  height: 3vh;
  width: 30px;
  font-size: 10pt;
  text-align: center;
}

#visor-valor-memoria {
  height: 3vh;
  width: 70px;
  margin-left: 5em;
  text-align: right;
  font-size: 12pt;
}

.botoes,
.linha,
.memoria {
  margin: auto;
  display: grid;
}

.botoes {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.linha {
  grid-template-columns: 1fr 1fr 2fr;
}

.memoria {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: rgb(201, 8, 8)
}

.calculadora>div>div {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22417e09;
  border-radius: 4px;
  cursor: pointer;
}

.calculadora>div>div:hover {
  transform: scale(1.05);
}



/* CSS Div Histórico/Backup */

#historico {
  width: 23rem;
  background-color: #0c0d0f;
  color: white;
  font-size: 10pt;
  transform: translateY(15%);
  border-radius: 10px;
  text-align: right;
  overflow-y: auto;
  display: none;
  min-height: 50vh;
}

#impressao {
  font-size: larger;
  height: 0vh;
}

#historico::-webkit-scrollbar {
  width: 1vw;
  border-radius: 10px;
}

#historico::-webkit-scrollbar-thumb {
  background: #0e101bcb;
  border-radius: 5px;
}

#historico::-webkit-scrollbar-thumb:hover {
  background-color: #49515a47;
}


/* Media Queries */

@media screen and (max-width: 1700px) {

  .container {
    width: 65vw;
  }

}

@media screen and (max-width: 1200px) {

  .container {
    width: 85vw;
  }

}

@media screen and (max-width: 992px) {

  .container {
    width: 100vw;
    flex-direction: column;
  }

}